body, textarea {
  font-family: 'Sans-Serif', sans-serif;
  font-weight: 300;
}

body {
  margin: 5px;
  padding: 0px;
}

textarea {
  font-family: 'Sans-Serif', sans-serif;
  position: fixed;
  top: 5px;
  left: 5px;

  margin: 0px;
  padding: 5px;

  width: 400px;
  height: 75px;

  background-color: rgba(255, 255, 255, 0.8);
}

textarea {
  font-family: 'Sans-Serif', sans-serif;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

#prototype {
  background-color: white;
}

text{
  font-family: 'Sans-Serif', sans-serif;
  font-size: 8pt;
  color: black;
}

#coord {
  width: 950px;
  height: 500px;

  background-color: white;
}

#x-axis text,
#y-axis text {
  font-family: 'Sans-Serif', sans-serif;
  font-size: 9pt;
  fill: #888888;
}

#x-axis line {
  font-family: 'Sans-Serif', sans-serif;
  fill: none;
  stroke: black !important;
}


#x-axis path,
#y-axis path,
#y-axis line {
  font-family: 'Sans-Serif', sans-serif;
  fill: none;

  stroke: #bbbbbb;
  stroke-width: 1px;
}
